.Logo_Image
{
  float:left;
  left:480px;
  width:50px;
  border-radius:100%;
  margin-top: 15px;
  border-style:ridge;
}
.Logo
{
  margin:0px;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top:20px;
  color:#ff8080;
  font-weight: bold;
  font-size: 50px;
}
.Sublogo
{
  margin:15px;
  font-family: 'Special Elite', cursive;
  font-size:18px;
  margin-top:0px;
}
.BookShelf
{
  width:90px;
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}
.Font_para1
{
  text-align: right;
  margin-left: 50px;
  margin-right:40px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;

}
hr
{
  border-color: #FFF5E4;
  border-style: solid;
}
.Intro
{
  position:absolute;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding-left: 15px;
}
.Top_container
{
    margin: 20px 475px 40px 475px;
}
.Middle_container
{
background-color: #fff5dd;
margin-top: 10px;
padding-bottom: 10px;
margin-bottom: 20px;
}
.Bottom_container
{
}
.Heading
{
  font-family: 'Merienda', cursive;
  color:#ff8080;
}
.maintext
{
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.linktext
{
  font-family: 'Rajdhani', sans-serif;
  font-size:20px;
  font-weight: bold;
}
.table1
{
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin-left: auto;
  margin-right: auto;
}
th,td{padding: 15px;}
.Book_pics
{
  width:15%;
  height:15%;
  margin:10px 30px 10px 30px;
}
.contact-me
{
  text-align:center;
  background-color:#ff8080;
  padding-top:20px;
}
.Author_Pic
{
  border-radius:100%;
  width:35%;
  float:left;
  margin-right:70pX;
  margin-top:5px;
  margin-bottom:40px;
}
