
body
{background-color:white;}
th,td
{padding: 10px;}
.Title
{font-family:"Garamond",fantasy;color:#FA7070; }
hr
{border-top-color:#ECB390; border-style:none;border-top-style:outset;border-width:1px;}
a:link
{color: #753422;}
a:hover
{color:#D4E2D4;}
a:active
{color: #753422;}
a:visited
{color:#753422;}
a
{font-family:"Courier New",monospace;}
.Image1
{
  position: relative;
  left:179px;
  border-right: 0;
  margin-right: 0;

}

.Top
{

}

.Middle
{
  padding-left: 200px;
  padding-top: 0px;
  padding-bottom: 0px;

}

.FontMiddle{font-family:"Papyrus", fantasy;
font-weight: bolder;font-size:21px;
padding-top: 0;
}

.Bottom
{
  padding: 25px;
  padding-left: 500px;
  font-family:"Papyrus", fantasy;
  font-weight: bolder;font-size:20px;
  padding-top: 0;
}
